<div ng-repeat="question in pageData.questions" class="{{question.type}} question__single-container">
	<div class="question__text">{{question.text}}</div>
	<div class="question__option-wrapper" ng-if="question.type == 'slider'">
		<div ng-repeat="option in question.options" ng-init="initNumericValue(question.id, option.id)" class="question__option-item">
			<p class="question__option">{{ option.textKey | translate: getTranslationKey(option.textKey) }}</p>
			<div class="question__input">
				<span class="input-square input-square--left" 
					ng-click="decrementNumericValue(question.id, option.id)">
				</span>
				<rzslider rz-slider-model="studentData[sectionData.id][question.id][option.id]" rz-slider-options="sliderOptions"></rzslider>
				<span class="input-square input-square--right"
					ng-click="incrementNumericValue(question.id, option.id)">
				</span>
			</div>
		</div>
	</div>
	<div ng-if="question.type == 'numeric_single_option'">
		<div class="question__input">
			<span class="input-square input-square--left" ng-click="decrementNumericValue(question.id)"></span>
			<input type="number" ng-model="studentData[sectionData.id][question.id]"
				ng-init="initNumericValue(question.id)" class="question__number-input"/>
			<span class="input-square input-square--right" ng-click="incrementNumericValue(question.id)"></span>
	    </div>
	</div>
	<div ng-if="question.type == 'radio_boolean'">
		<div class="question__radio">
			<input type="radio" ng-model="studentData[sectionData.id][question.id]"	value="1" id="radio-si"/>
			<div class="check"></div>
			<label for="radio-si">Si</label>
		</div>
		<div class="question__radio">
			<input type="radio" ng-model="studentData[sectionData.id][question.id]"	value="0" id="radio-no"/>
			<div class="check"></div>
			<label for="radio-no">No</label>
		</div>
	</div>
	<div class="question__option-wrapper" ng-if="question.type == 'numeric_multiple_option'">
		<div ng-repeat="option in question.options" class="question__option-item">
			<p class="question__option">{{ option.textKey | translate: getTranslationKey(option.textKey) }}</p>
			<div class="question__input">
				<span class="input-square input-square--left" ng-click="decrementNumericValue(question.id, option.id)"></span>
				<input type="number" ng-model="studentData[sectionData.id][question.id][option.id]"
					ng-init="initNumericValue(question.id, option.id)" class="question__number-input"/>
				<span class="input-square input-square--right" ng-click="incrementNumericValue(question.id, option.id)"></span>
			</div>
		</div>
	</div>
</div>

<button ng-click="goToNextPage(pageData.nextPage)" class="btn center--mobile right--desktop">
	Siguiente
</button>
