.ngdialog-content {
    text-align: center;
    border-radius: 20px !important;
    max-width: 780px !important;

    @include _(greater than tablet) {
        padding: 3em !important;
    }
}

.ngdialog.ngdialog-theme-default .ngdialog-close:before {
    color: $secondaryColor;
}

.dialog {

    &__heading {
        font-size: 20px;
        @include fp(font-size, 18, 24);
        margin-bottom: 15px;
    }

    &__text {
        font-size: 14px;
        margin-bottom: 50px;
    }
}
.dialog__logos {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2.8px;

  & > .container_logos_dialog {
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 52.8px 0px;

    @media (min-width: 768px) {
      width: 50%;
    }
    @media (min-width: 992px) {
      width: 25%;
      padding: 0px 7.829% 0px 0px;
      margin: 0px 0px 0px 0px;

      &:first-child {
        padding: 0px 7.829% 0px 0px;
      }
      &:last-child {
        padding: 0px 0px 0px 0px;
      }
    }

    & > img {
      display: block;
      width: 100%;
      max-width: 175px;
      margin: auto;
      height: auto;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

// $x-small:                 460px;
// $small:                   768px;
// $medium:                  992px;
