
.comparativo {

    margin-top: 75px;

    &__buttons {
        @include _(6 12 8 4);
    }

    &__map {
        @include _(10 12 8 4);
    }

    &__btn {
        box-shadow: 0 0 2px 0 rgba(0,0,0,.4);
        font-family: $type__body;
        font-size: 16px;
        padding: 16px 12px;
        cursor: pointer;
        margin-bottom: 15px;
        border-right: 5px solid #fff;
        position: relative;

        &:after {
            content: "\f058";
            font-family: FontAwesome;
            right: 5px;
            position:absolute;
            top: 4px;
            opacity: 0;
        }

        @include _(for laptop) {
            float: left;
            margin-right: 2%;
            width: 48%;
        }

        //When selected change styles
        &:nth-of-type(1).selected {
            box-shadow: 0 1px 4px $primaryColor;
            border-right: 5px solid $primaryColor;

                //display checkmark when selected
                &:after {
                    opacity: 1;
                    color: $primaryColor;
                }
        }

        &:nth-of-type(2).selected {
            box-shadow: 0 1px 4px $secondaryColor;
            border-right: 5px solid $secondaryColor;

                //display checkmark when selected
                &:after {
                    opacity: 1;
                    color: $secondaryColor;
                }
        }

        &:nth-of-type(3).selected {
            box-shadow: 0 1px 4px $tertiaryColor;
            border-right: 5px solid $tertiaryColor;

            //display checkmark when selected
            &:after {
                opacity: 1;
                color: $tertiaryColor;
            }
        }

        &:nth-of-type(4).selected {
            box-shadow: 0 1px 4px $fourthColor;
            border-right: 5px solid $fourthColor;

            //display checkmark when selected
            &:after {
                opacity: 1;
                color: $fourthColor;
            }
        }
    }


    &__heading {
        color: #5D5D5D;
        font-family: $type__heading;
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 5px;;
    }

    &__text {
        color: #5D5D5D;
        font-family: $type__body;
        font-size: 14px;
        line-height: 1.4;
    }

    &__circle {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        float: left;
        margin-right: 15px;

            //Different colors
            &--primary {
                background: $primaryColor;
            }

            &--secondary {
                background: $secondaryColor;
            }

            &--tertiary {
                background: $tertiaryColor;
            }

            &--fourth {
                background: $fourthColor;
            }

    }

}
