<div>
	<h2>Antes de empezar</h2>
	<input type="text" ng-model="studentData.name" placeholder="Nombre" />
	<input type="text" ng-model="studentData.age" placeholder="Edad" />
	<select id="provinceId" 
		ng-model="studentData.provinceId"
		ng-options="province.provincia_id as province.provincia_nombre for province in provinceList">
		<option value="">Provincia</option>
	</select>
	<select id="departmentId" 
		ng-model="studentData.departmentId"
		ng-options="department.departamento_id as department.departamento_nombre for department in departmentList">
		<option value="">¿D&oacute;nde viv&iacute;s?</option>
	</select>
<div>
<button ng-click="saveStudentData()" ng-disabled="!studentData.name || !studentData.age || !studentData.departmentId">
	Siguiente
</button>