//Colors
//$accentColor: #C49F66;
$accentColor: #ff1e91;
$secondaryAccent: #FF6000;
$secondaryFontColor: #697277;
$headingColors: #2C2E31;
$bodyTextColor: #040300;
$secondaryBGColor: #f0f2f2;

$type__heading: 'Lustria', serif;
$type__body: 'Quicksand', sans-serif;
