
////////////////
//Student info
///////////////
.input--info,
.wrap-dd-select {
    background: #FAFAFA;
    border: 1px solid #EEEEEE;
    padding: 17px 25px;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: $bodyTextColor;
    font-size: 16px;
    font-family: $type__heading;
    font-weight: 700;
    //max-height: 52px;

        &:focus {
            outline: 0;
            border-bottom: 1px solid $primaryColor;

        }
}

input[type="text"] {
    &:focus {
        outline: 0;
        border-bottom: 1px solid $primaryColor;

    }
}

.wrap-dd-select {
    background-image: url(../img/icons/arrow.png);
    background-image: url(../img/icons/arrow.svg);
    background-repeat: no-repeat;
    background-position: 97%;
    padding: 12px 25px;

        &.active {
            background-image: url(../img/icons/arrow-active.png);
            background-image: url(../img/icons/arrow-active.svg);
            color: #E1A800;
            background-color: #FFEAA8;
            border: 1px solid #FFBF00;
        }
}

//////////////////////////////////////
//Increase/Decrease buttons for inouts
/////////////////////////////////////
span.input-square {
    float: left;
    background: #ffca00;
    height: 50px;
    width: 12%;
    width: 40px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;

        &--left {
            border-radius: 3px 0 0 3px;
            background-image: url(../img/icons/icon-minus.svg);
        }

        &--right {
            background-image: url(../img/icons/icon-plus.svg);
            border-radius: 0 3px 3px 0;
        }
}

/////////////////////////////
//Question Type Number input
/////////////////////////////

.question {

    &__number-input {
        height: 50px;
        border: 1px solid #FFEAA8;
        background: #FFFCF4;
        color: $bodyTextColor;
        font-family: $type__heading;
        font-weight: 700;
        font-size: 24px;
        text-align: center;
        max-width: 120px;
        -webkit-appearance: none;
    }
}

/////////////////
//Question Range Sliders
////////////////
.rzslider {

    width: 75%; //Fallback width for cacl()
    width: calc(100% - 80px);
    float: left;
    margin: 24px 0 15px 0;

    .rz-pointer {
        background: #FFDA7C;

            &:after,
            &:hover:after,
            &.rz-active:after {
                background: #FFBF00;
                top: 8px;
                left: 8px;
                width: 16px;
                height: 16px;
                -webkit-border-radius: 14px;
                -moz-border-radius: 14px;
                border-radius: 14px;
            }

            &:focus {
                outline: 0;
            }
    }

    //Slider Container
    .rz-bar-wrapper {
        padding-top: 24px;
        margin-top: -24px;
        border: 1px solid #FFEAA8;
        background: #FFFCF4;
        padding-bottom: 24px;
    }

    //SLider bar
    .rz-bar {
        height: 2px;
        background: #FFEAA8;
    }

    //Number value
    .rz-bubble {
        bottom: -70px;
        left: 50% !important;
        margin-left: -16px;

            &::after {
                content: "%";
                padding-left: 5px;
            }
    }

    //Ticks
    .rz-ticks .rz-tick {
        width: 2px;
        background: #FFEAA8;
        margin-left: 12;
    }

    .rz-tick:first-of-type:after {
        content: "";
        width: 12px;
        display: block;
        height: 48px;
        background: #fffcf4;
        left: -12px;
        position: absolute;
        top: -20px;
    }

    .rz-tick:last-of-type:after {
        content: "";
        width: 18px;
        display: block;
        height: 48px;
        background: #fffcf4;
        left: 2px;
        position: absolute;
        top: -20px;
    }
}


//////////////
//Radio Inputs
///////////////
.question__radio {
    position: relative;
    float: left;
    width: 100%;
    max-width: 100px;
    padding-bottom: 3px;
}

.question__radio input[type=radio]{
    position: absolute;
    visibility: hidden;
}

.question__radio label{
    position: relative;
    padding-left: 30px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
    color: #9B9B9B;
}

.question__radio .check{
    display: block;
    position: absolute;
    border: 3px solid #BABABA;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    top: 6px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}

.question__radio .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 12px;
    width: 12px;
    top: 1px;
    left: 1px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check {
    border: 3px solid $primaryColor;
}

input[type=radio]:checked ~ .check::before{
    background: $primaryColor;
}

input[type=radio]:checked ~ label{
    color: #222222;
}
