
.question {

    &__text {
        font-family: $type__body;
        color: #4A4A4A;
        font-size: 16px;
        @include fp(font-size, 14, 18);
        margin-bottom: 60px;

            //Hay menos margin para el texto de preguntas en la segunda seccion
            .section2QuestionSlide & {
                margin-bottom: 30px;
            }
    }

    &__option {
        font-family: $type__heading;
        font-weight: 700;
        color: #000;
        font-size: 16px;
        @include fp(font-size, 16, 18);
    }

    &__option-wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 70px;
    }

    &__input {
        display: flex;
        margin-top: auto;
    }

    &__option-item {
        width: 100%;

        @include _(greater than tablet ) {
            display: flex;
            flex-direction: column;
            width: 47%;
        }
    }

    &__single-container {
        margin-bottom: 75px;
    }
}

.numeric_single_option {

    width: 100%;
    @include _(greater than tablet) {
        width: 48%;
        float: left;
        margin-right: 4%;
    }

    & + & {
        margin-right: 0;
    }

}

.numeric_multiple_option {
    width: 100%;
    clear: both;
}
