
.question {

    &__text {
        font-family: $type__body;
        color: #4A4A4A;
        font-size: 16px;
        @include fp(font-size, 14, 18);
        margin-bottom: 60px;
    }

    &__option {
        font-family: $type__heading;
        font-weight: 700;
        color: #000;
        font-size: 16px;
        @include fp(font-size, 16, 18);
    }

    &__option-wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 70px;
    }

    &__input {
        display: flex;
    }

    &__option-item {
        width: 100%;

        @include _(greater than tablet ) {
            width: 47%;
        }
    }
}
