
.header {

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__item--1 {
        margin-right: auto;
    }

    &__item--2 {
        margin: auto;
        text-align: center;
    }

    &__item--3 {
        margin-left: auto;
    }

}
